@import "../../MainStyle.scss";

.wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.wrapper h2 {
  color: rgb(61, 106, 197);
  position: relative;
  font-size: 30px;
  font-weight: 500;
}

.wrapper h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
}

form {
  margin-top: 20px;
}
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  .span-error {
    color: rgb(136, 72, 72);
    font-style: italic;
  }
}

.input-field-text {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field-text:focus {
  border: 2px solid dodgerblue;
}

.icon {
  padding: 15px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.btn-register {
  background: dodgerblue;
  color: #fff;
  padding: 15px 20px;
  border: none;
  width: 100%;
  opacity: 0.5;
}

.btn-register:hover {
  opacity: 1;
}
